.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  flex-direction: column;
  border: 3px black;
  background-color: blanchedalmond;
  padding: 15px 30px;
  min-width: 20%;
}

.big-notice {
  font-size: 40px;
}
