<div class="form-container">
  <form (submit)="signup(userCredentials)">
    <div class="card">
      <input
        type="text"
        name="login"
        placeholder="loginId"
        [(ngModel)]="userCredentials.login"
      />
      <input
        type="password"
        name="password"
        placeholder="password"
        [(ngModel)]="userCredentials.password"
      />
      <button type="submit">Signup</button>
    </div>
  </form>
</div>

<div class="big-notice" *ngIf="loginId">
  <p>Nice! You're signed up. Try logging in!</p>
</div>

<div class="big-notice" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
